<div class="page-container">
 <p>Enter your app url to accept the friend request</p>
<main>
    <form action="/friends/request/accepted" method="POST">
        <input type="hidden" name="to" value="{{to}}"/>
        <input type="hidden" name="sub" value="{{sub}}"/>
        <input name="url" required="true" placeholder="your_app_url" />.herokuapp.com
        <button>Accept Friend Request</button>
    </form>
</main>
</div>