<main>
    <form action="/friends/request/accepted" method="POST">
        <input type="hidden" name="invited" value="{{invited}}"/>
        <input type="hidden" name="invitee" value="{{invitee}}"/>
        <input name="url" placeholder="your_app_url" />.herokuapp.com
        <button>Accept Friend Request</button>
    </form>
</main>