Hello {{person.name}}

<form id="invite" action="/friends/invite" method="POST"> 
    <label for="email"> Enter Friend's Email:</label>
    <input type="email" id="email" name="email">
    <button type="submit" value="submit">Submit </button>
</form>

<section>
    Number of friends: {{friends.length}}
</section>